/* 물고기1_ petfish */
.fish1-1{
    position:absolute;
    left: 20%;
    top:15%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 3s infinite;   
}
.fish1-2{
    position:absolute;
    left: 27%;
    top:15%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 4.3s infinite;
}
.fish1-3{
    position:absolute;
    left: 34%;
    top: 15%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 3s infinite;
    opacity: 40%;
}
.fish1-4{
    position:absolute;
    left:41%;
    top: 15%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 4.3s infinite;
}
.fish1-5{
    position:absolute;
    left: 48%;
    top: 15%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 3s infinite;
}
.fish1-6{
    position:absolute;
    left: 17%;
    top:23%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 4.3s infinite;
}
.fish1-7{
    position:absolute;
    left:24%;
    top:23%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 3s infinite;
    opacity: 40%;
}
.fish1-8{
    position:absolute;
    left:31%;
    top:23%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 4.3s infinite;
}
.fish1-9{
    position:absolute;
    left:38%;
    top:23%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 3s infinite;
}
.fish1-10{
    position:absolute;
    left:45%;
    top:23%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 4.3s infinite;
    opacity: 40%;
}
.fish1-11{
    position:absolute;
    left: 52%;
    top: 23%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 3s infinite;
}
.fish1-12{
    position:absolute;
    left: 20%;
    top: 31%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 4.3s infinite;
}
.fish1-13{
    position:absolute;
    left: 27%;
    top:31%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 3s infinite;
}
.fish1-14{
    position:absolute;
    left: 34%;
    top: 31%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 4.3s infinite;
    opacity: 40%;
}

.fish1-15{
    position:absolute;
    left: 41%;
    top: 31%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 3s infinite;
}
.fish1-16{
    position:absolute;
    left: 48%;
    top: 31%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 4.3s infinite;
}
.fish1-17{
    position:absolute;
    left: 30%;
    top: 10%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 3s infinite;
}
.fish1-18{
    position:absolute;
    left:40%;
    top:10%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 4.3s infinite;
    opacity: 40%;
}
.fish1-19{
    position:absolute;
    left:25%;
    top:35%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 4.3s infinite;
    opacity: 40%;
}
.fish1-20{
    position:absolute;
    left: 40%;
    top: 35%;
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    transform: rotate(25deg);
    animation: diagonal 3s infinite;
}
@keyframes diagonal {
    0%       { transform: translatex(-30px) translatey(-30px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-30px) translatey(-30px) }
}

@keyframes diagonal2 {
  0%       { transform: translatex(-35px) translatey(-35px) }
  50%      { transform: translatex(10px) translatey(10px); }
  100%     { transform: translatex(-30px) translatey(-30px) }
}

/* 물고기2_ jellyfish */
.fish2-1{
    position:absolute;
    transform: rotate(-20deg);
    left:30%;
    width: auto; height: auto;
    max-width: 280px;
    max-height: 280px;
    animation: bounce 2s ease infinite;
}

.fish2-2{
    position:absolute;
    transform: rotate(15deg);
    left:45%;
    top:10%;
    width: auto; height: auto;
    max-width: 430px;
    max-height: 430px;
    transform: rotate(rotate(-12deg));
    animation: bounce2 2s ease infinite;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0)rotate(-12deg);}
	40% {transform: translateY(-30px) rotate(-12deg);}
	60% {transform: translateY(-15px)rotate(-12deg);}
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0)rotate(12deg);}
	40% {transform: translateY(-30px) rotate(12deg);}
	60% {transform: translateY(-15px)rotate(12deg);}
}

/* 물고기3_ raxfish*/
.fish3-1{
    position:absolute;
    left:25%; 
    top:15%;
    width: auto; height: auto;
    max-width: 150px;
    max-height: 150px;
    animation: yellowfish1 5s ease-in-out infinite forwards;
}

.fish3-2{
    position:absolute;
    left:35%;
    top:22%;
    width: auto; height: auto;
    max-width: 280px;
    max-height: 280px;
    animation: yellowfish1 5s ease-in-out infinite forwards;
}

.fish3-3{
    position:absolute;
    left:23%;
    top:30%;
    width: auto; height: auto;
    max-width:180px;
    max-height: 180px;
    animation: yellowfish1 5s ease-in infinite forwards;
}

.fish3-4{
    position:absolute;
    left:15%;
    top:20%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: yellowfish1 5s ease-in-out infinite forwards;
}

@keyframes yellowfish1{
    0% ,100%{
        transform:translate(0) rotate(15deg);
    }

    50% {
        transform:translate(50%,50%) rotate(25deg);
    }
}

/* 물고기4_ strawfish */
.fish4-1{
    position:absolute;
    left:7%;
    top:30%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: strawfish 5s ease-in-out infinite forwards;
}

.fish4-2{
    position:absolute;
    left:20%;
    top:30%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: strawfish 5s ease-in-out infinite forwards;
}

.fish4-3{
    position:absolute;
    left:30%;
    top:35%;
    width: auto; height: auto;
    max-width:200px;
    max-height: 200px;
    animation: strawfish 5s ease-in-out infinite forwards;
}

.fish4-4{
    position:absolute;
    left:15%;
    top:35%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: strawfish 5s ease-in-out infinite forwards;
}

.fish4-5{
    position:absolute;
    left:15%;
    top:50%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: strawfish 5s ease-in-out infinite forwards;
}

.fish4-6{
    position:absolute;
    left:10%;
    top:55%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: strawfish 5s ease-in-out infinite forwards;
}

.fish4-7{
    position:absolute;
    left:30%;
    top:52%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: strawfish 5s ease-in-out infinite forwards;
}

.fish4-8{
    position:absolute;
    left:10%;
    top:40%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: strawfish 5s ease-in-out infinite forwards;
}
.fish4-9{
    position:absolute;
    left:25%;
    top:43%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: strawfish 5s ease-in-out infinite forwards;
}

@keyframes strawfish{
    0% ,100%{
        transform:translate(-20%,20%) rotate(-5deg);
    }

    50% {
        transform:translate(50%,-70%) rotate(-10deg);
    }
}

/* 물고기5_ yogutfish */
.fish5-1{
    position:absolute;
    left:40%;
    top:28%;
    width: auto; height: auto;
    max-width:220px;
    max-height: 220px;
    animation: yogutfish 15s ease-in-out infinite forwards;
}

.fish5-2{
    position:absolute;
    left:10%;
    top:40%;
    width: auto; height: auto;
    max-width:300px;
    max-height: 300px;
    animation: yogutfish 15s ease-in-out infinite forwards;
}
.fish5-3{
    position:absolute;
    left:20%;
    top:55%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: yogutfish 15s ease-in-out infinite forwards;
}
@keyframes yogutfish{
    0% ,100%{
        transform:translate(40%,-50%) rotate(0);
    }

    50% {
        transform:translate(-40%,40%) rotate(-10deg);
    }
}

/* 물고기6_ greenfish */
.fish6-1{
    position:absolute;
    left:25%;
    top:30%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: greenfhish 15s ease-in-out infinite forwards;
}

.fish6-2{
    position:absolute;
    left:55%;
    top:43%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: greenfhish 15s ease-in-out infinite forwards;
}

.fish6-3{
    position:absolute;
    left:25%;
    top:40%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: greenfhish 15s ease-in-out infinite forwards;
}

.fish6-4{
    position:absolute;
    left: 35%;
    top:45%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: greenfhish2 10s ease-in-out infinite forwards;
}

.fish6-5{
    position:absolute;
    left:35%;
    top:60%;
    width: auto; height: auto;
    max-width:150px;
    max-height: 150px;
    animation: greenfhish 15s ease-in-out infinite forwards;
}

.fish6-6{
    position:absolute;
    left:60%;
    top:25%;
    width: auto; height: auto;
    max-width:200px;
    max-height: 200px;
    animation: greenfhish2 10s ease-in-out infinite forwards;
}

.fish6-7{
    position:absolute;
    left:35%;
    top:30%;
    width: auto; height: auto;
    max-width:200px;
    max-height: 200px;
    animation: greenfhish 15s ease-in-out infinite forwards;
}

.fish6-8{
    position:absolute;
    left:10%;
    top:50%;
    width: auto; height: auto;
    max-width:200px;
    max-height: 200px;
    animation: greenfhish 15s ease-in-out infinite forwards;
}

.fish6-9{
    position:absolute;
    left:55%;
    top:50%;
    width: auto; height: auto;
    max-width:200px;
    max-height: 200px;
    animation: greenfhish 15s ease-in-out infinite forwards;
}

@keyframes greenfhish{
    0% ,100%{
        transform:translate(50%,-50%) rotate(0);
    }

    50% {
        transform:translate(-50%,50%) rotate(-10deg);
    }
}


@keyframes greenfhish2{
    0% ,100%{
        transform:translate(30%,30%) rotate(0);
    }

    50% {
        transform:translate(-70%,50%) rotate(-10deg);
    }
}

/* 물고기7_ neonsquid */
.fish7-1{
    position:absolute;
    left:45%;
    top:72%;
    width: auto; height: auto;
    max-width:600px;
    max-height: 600px;
    animation: neonsquid1 5s ease-in-out infinite forwards;
}

.fish7-2{
    position:absolute;
    left:70%;
    top:62%;
    width: auto; height: auto;
    max-width: 300px;
    max-height: 300px;
    animation: neonsquid2 3s ease-in-out infinite forwards;
}

.fish7-3{
    position:absolute;
    left:50%;
    top:50%;
    width: auto; height: auto;
    max-width: 150px;
    max-height: 150px;
    animation: neonsquid3 2.5s ease-in-out infinite forwards;
}

@keyframes neonsquid1{
    0% ,100%{
        transform:translate(0) rotate(20deg);
    }

    15% {
        transform:translate(0,-40%) rotate(20deg);
    }
    55% {
        transform:translate(0,-20%) rotate(20deg);
    }
    65% {
        transform:translate(0,-60%) rotate(20deg);
    } 
}
@keyframes neonsquid2{
    0% ,100%{
        transform:translate(0) rotate(50deg);
    }

    15% {
        transform:translate(0,-30%) rotate(50deg);
    }
    35% {
        transform:translate(0,-10%) rotate(50deg);
    }
    55% {
        transform:translate(0,-90%) rotate(50deg);
    } 
}
@keyframes neonsquid3{
    0% ,100%{
        transform:translate(0) rotate(-3deg);
    }

    15% {
        transform:translate(0,-30%) rotate(-3deg);
    }
    35% {
        transform:translate(0,-10%) rotate(-3deg);
    }
    55% {
        transform:translate(0,-90%) rotate(-3deg);
    } 
}
/* 물고기8_ devilturtle */
.fish8{
    position:absolute;
    left:50%;
    top:60%;
    width: auto; height: auto;
    max-width: 500px;
    max-height: 500px;
    animation: devilturtle 18s ease-in-out infinite forwards;
}

@keyframes devilturtle{
    0% ,100%{
        transform:translate(-90%,50%) rotate(-5deg);
    }

    70% {
        transform:translate(60%,0) rotate(-10deg);
    }
}


/* atlantis */
.atlantis{  
    position:absolute;
    width: auto; height: auto;
    max-width:1200px;
    max-height: 1200px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    }


